html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-family: "Nunito", sans-serif;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h3 {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.00px;
    word-spacing: 0.00px;
    text-transform: none;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0px;
    margin-bottom: 2.2vw;
    letter-spacing: 0vw;
    word-spacing: .1vw;
    text-transform: none;
}

header {
    width: 100%;
    height: 40vh;
    background: #2ecc70;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

#logo img {
    height: 24vh;
    margin: 2vh 0;
}

#logo-text {
    color: white;
    font-weight: 900;
    font-size: 6vh;
}

aside a{
    position: fixed;
    z-index: 101;
    bottom: 2vw;
    right: 2vw;
    color: white;
    width: 6vw;
    text-decoration: none;
    background: #e74c3c;
    border-radius: 100%;
    padding: 0.2vw;
    font-size: 4vw;
    font-weight: 600;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, .2);
    height: 6vw;
    display: block;
    text-align: center;
    transition: all ease-in-out .3s;
}

aside a.new-modal {
    transform: rotate(0deg);
}

aside a.close-modal {
    transform: rotate(45deg);
    box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, .2);
    bottom: 2.2vw;
}

aside a:hover {
    box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, .2);
    bottom: 2.2vw;
}

footer {
    background: #95a5a6;
    height: 20vh;
    text-align: center;
    font-size: 4vw;
    color: white;
    padding: 6vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row-gap: 5vw;
    padding: 5vw 0;
}

article {
    grid-column-start: 2;
    grid-column-end: 3;
    background: #ecf0f1;
    border-radius: 1vw;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    display: block;
    position: relative;
}

.log-face img {
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.log-details {
    padding: 3vw 3vw 0 3vw;
}

.log-location {
    padding: 0 3vw 3vw 3vw;
}

.log-location img {
    float: left;
    margin-right: 10px;
}

.log-location span {
    opacity: .5;
}

section {
    position: fixed;
    width: 0vw;
    height: 100vh;
    z-index: 99;
    background: rgba(255, 255, 255, .95);
    top: 0;
    left: 0;
    /* display: none; */
    transform: translateX(100vw) translateY(100vh);
    transition: all ease-in-out .3s;
}

section #new-title {
    font-size: 6vh;
    text-align: center;
    font-weight: 600;
    margin: 10vh 0 0 0;
}

form {
    width: 60vw;
    margin: 5vw auto;
    text-align: center;
}

textarea {
    border: none;
    width: 100%;
    font-size: 2vw;
    margin-bottom: 5vw;
    padding: 3vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

textarea:focus {
    border: none;
    outline: none;
}

input[type=submit] {
    outline: none;
    border: none;
    background: #2ecc71;
    color: white;
    font-size: 1.5vw;
    border-radius: 1vw;
    padding: 1vw 3vw;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    header {
        height: 10vh;
        text-align: left;
    }
    header .three {
        display: none;
    }
    header .six {
        margin-top: 0 !important;
    }
    header #logo img {
        height: 8vh;
        margin: 1vh 0;
    }
    header #logo {
        display: inline-block;
    }
    header #logo-text {
        display: inline-block;
        position: relative;
        top: -3.3vh;
        left: 1vh;
        font-size: 4vh;
    }
    article {
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0 5vw;
    }
    .log-details {
        font-size: 3vh !important;
    }
    aside a {
        width: 10vh;
        height: 10vh;
        font-size: 7vh;
        padding: 0vh;
        bottom: 2vh;
        right: 2vh;
    }
    textarea {
        padding: 3vh;
        font-size: 5vh;
    }
    input[type=submit] {
        font-size: 4vh;
        padding: 1vh 3vh;
    }
}